{
	AdiumSetVersion = "1.3";
	Emoticons = {
		"Actually-NotOkay-Actually.png" = {
			Equivalents = (
				"[actually]",
				"[okay3]",
			);
			Name = "Actually - Not Okay - Actually";
		};
		"Actually-NotOkay-ItsNotOkay.png" = {
			Equivalents = (
				"[itsnotokay]",
				"[okay4]",
			);
			Name = "Actually - Not Okay - It's Not Okay";
		};
		"Actually-NotOkay-SadShadow.png" = {
			Equivalents = (
				"[sadshadow]",
				"[okay2]",
			);
			Name = "Actually - Not Okay - Sad Shadow";
		};
		"Angry-Drool.png" = {
			Equivalents = (
				"[drool]",
			);
			Name = "Angry - Drool";
		};
		"Angry-Eyes.png" = {
			Equivalents = (
				"[eyes]",
				"[fff]",
				"[imminent]",
			);
			Name = "Angry - Eyes";
		};
		"Angry-IAmDisappoint.png" = {
			Equivalents = (
				"[son]",
				"[disappoint]",
			);
			Name = "Angry - I Am Disappoint";
		};
		"Angry-Look.png" = {
			Equivalents = (
				"[look]",
			);
			Name = "Angry - Look";
		};
		"Angry-Mom.png" = {
			Equivalents = (
				"[mom]",
			);
			Name = "Angry - Mom";
		};
		"Angry-No.png" = {
			Equivalents = (
				"[no]",
			);
			Name = "Angry - No";
		};
		"Angry-NotOkay.png" = {
			Equivalents = (
				"[notokay]",
				"[bitter]",
			);
			Name = "Angry - Not Okay";
		};
		"Angry-Shaking.png" = {
			Equivalents = (
				"[shaking]",
			);
			Name = "Angry - Shaking";
		};
		"Angry-SideMouth.png" = {
			Equivalents = (
				"[sidemouth]",
				"[lefu]",
			);
			Name = "Angry - Side Mouth";
		};
		"Angry-Stare.png" = {
			Equivalents = (
				"[stare]",
			);
			Name = "Angry - Stare";
		};
		"Angry-Uhm.png" = {
			Equivalents = (
				"[uhm]",
				"[mad]",
			);
			Name = "Angry - Uhm";
		};
		"Angry-WhatHaveYouDone.png" = {
			Equivalents = (
				"[whathaveyoudone]",
				"[whyd]",
				"[done]",
			);
			Name = "Angry - What Have You Done";
		};
		"Angry-YUNO.png" = {
			Equivalents = (
				"[yuno]",
			);
			Name = "Angry - Y U NO";
		};
		"Cereal-Newspaper-BeerGuy.png" = {
			Equivalents = (
				"[beerguy]",
				"[beer]",
			);
			Name = "Cereal - Newspaper - Beer Guy";
		};
		"Cereal-Newspaper-CerealGuy.png" = {
			Equivalents = (
				"[cerealguy]",
				"[cereal]",
			);
			Name = "Cereal - Newspaper - Cereal Guy";
		};
		"Cereal-Newspaper-CerealGuyAngry.png" = {
			Equivalents = (
				"[cerealguyangry]",
				"[cerealangry]",
			);
			Name = "Cereal - Newspaper - Cereal Guy Angry";
		};
		"Cereal-Newspaper-CerealGuySquint.png" = {
			Equivalents = (
				"[cerealguysquint]",
				"[cerealsquint]",
			);
			Name = "Cereal - Newspaper - Cereal Guy Squint";
		};
		"Cereal-Newspaper-CerealSpitting.png" = {
			Equivalents = (
				"[cerealspit]",
				"[spit]",
			);
			Name = "Cereal - Newspaper - Cereal Spitting";
		};
		"Cereal-Newspaper-NewspaperGuy.png" = {
			Equivalents = (
				"[newspaperguy]",
				"[newspaper]",
			);
			Name = "Cereal - Newspaper - Newspaper Guy";
		};
		"Cereal-Newspaper-NewspaperGuyTear.png" = {
			Equivalents = (
				"[newspaperguytear]",
				"[newspapertear]",
				"[tear]",
			);
			Name = "Cereal - Newspaper - Newspaper Guy Tear";
		};
		"Determined-Focused-Challenge.png" = {
			Equivalents = (
				"[challenge]",
			);
			Name = "Determined - Focused - Challenge";
		};
		"Determined-Focused-ChallengeConsidered.png" = {
			Equivalents = (
				"[challengeconsidered]",
				"[considered]",
			);
			Name = "Determined - Focused - Challenge Considered";
		};
		"Determined-Focused-ConflictingEmotions.png" = {
			Equivalents = (
				"[notsure]",
				"[dunno]",
			);
			Name = "Determined - Focused - Conflicting Emotions";
		};
		"Determined-Focused-CrazyConcentrateSweat.png" = {
			Equivalents = (
				"[sweat]",
				"[workinghard]",
			);
			Name = "Determined - Focused - Crazy Concentrate Sweat";
		};
		"Determined-Focused-FuManchu.png" = {
			Equivalents = (
				"[fumanchu]",
			);
			Name = "Determined - Focused - Fu Manchu";
		};
		"Determined-Focused-Gah.png" = {
			Equivalents = (
				"[gah]",
				"[sweaty]",
			);
			Name = "Determined - Focused - Gah";
		};
		"Determined-Focused-Hmm.png" = {
			Equivalents = (
				"[hmm]",
			);
			Name = "Determined - Focused - Hmm";
		};
		"Determined-Focused-ItsTime.png" = {
			Equivalents = (
				"[itstime]",
				"[serious]",
				"[determined]",
			);
			Name = "Determined - Focused - It's Time";
		};
		"Happy-EverythingWentBetterThanExpected.png" = {
			Equivalents = (
				"[everythingwentbetterthanexpected]",
				"[betterthanexpected]",
				"[ewbte]",
			);
			Name = "Happy - Everything Went Better Than Expected";
		};
		"Happy-Excited.png" = {
			Equivalents = (
				"[ya]",
				"[yey]",
			);
			Name = "Happy - Excited";
		};
		"Happy-ForeverAloneExcited.png" = {
			Equivalents = (
				"[foreveraloneexcited]",
				"[faexcited]",
				"[falaugh]",
				"[friends]",
			);
			Name = "Happy - Forever Alone Excited";
		};
		"Happy-Grandma.png" = {
			Equivalents = (
				"[grandma]",
				"[granny]",
			);
			Name = "Happy - Grandma";
		};
		"Happy-Happy.png" = {
			Equivalents = (
				"[happy]",
			);
			Name = "Happy - Happy";
		};
		"Happy-HatersGonnaHate.png" = {
			Equivalents = (
				"[hatersgonnahate]",
				"[haters]",
				"[hgh]",
			);
			Name = "Happy - Haters Gonna Hate";
		};
		"Happy-Hehheh.png" = {
			Equivalents = (
				"[hehheh]",
				"[hehehe]",
			);
			Name = "Happy - Heh heh";
		};
		"Happy-Ok.png" = {
			Equivalents = (
				"[ok]",
				"[nice]",
				"[great]",
				"[thumb]",
			);
			Name = "Happy - Ok";
		};
		"Happy-Perfect.png" = {
			Equivalents = (
				"[perfect]",
				"[biggrin]",
			);
			Name = "Happy - Perfect";
		};
		"Happy-Satisfied.png" = {
			Equivalents = (
				"[satisfied]",
				"[relief]",
			);
			Name = "Happy - Satisfied";
		};
		"Happy-Smile.png" = {
			Equivalents = (
				"[smile]",
				"[catsmile]",
			);
			Name = "Happy - Smile";
		};
		"Happy-Win.png" = {
			Equivalents = (
				"[win]",
				"[epicwin]",
			);
			Name = "Happy - Win";
		};
		"Laughing-AintThatSomeShit.png" = {
			Equivalents = (
				"[celo]",
				"[aintthatsomeshit]",
			);
			Name = "Laughing - Aint That Some Shit";
		};
		"Laughing-AwwwYea.png" = {
			Equivalents = (
				"[awyea]",
				"[awyeah]",
				"[ay]",
			);
			Name = "Laughing - Awww Yea";
		};
		"Laughing-FuckThatShit.png" = {
			Equivalents = (
				"[fuckthatshit]",
				"[fuckthat]",
				"[ft]",
				"[leftfuckthat]",
				"[lft]",
			);
			Name = "Laughing - Fuck That Shit";
		};
		"Laughing-FuckThatShitRight.png" = {
			Equivalents = (
				"[rightfuckthat]",
				"[rft]",
			);
			Name = "Laughing - Fuck That Shit Right";
		};
		"Laughing-High.png" = {
			Equivalents = (
				"[high]",
			);
			Name = "Laughing - High";
		};
		"Laughing-LOL(NoText).png" = {
			Equivalents = (
				"[ooo]",
			);
			Name = "Laughing - LOL (No Text)";
		};
		"Laughing-LOL.png" = {
			Equivalents = (
				"[lol]",
				"[LOL]",
			);
			Name = "Laughing - LOL";
		};
		"Laughing-Pffttchhchhh.png" = {
			Equivalents = (
				"[pft2]",
				"[expectant]",
			);
			Name = "Laughing - Pffttchhchhh";
		};
		"Laughing-Pft.png" = {
			Equivalents = (
				"[pft]",
				"[lulz]",
			);
			Name = "Laughing - Pft";
		};
		"Malicious-Troll-DevilTroll.png" = {
			Equivalents = (
				"[deviltroll]",
				"[evil]",
			);
			Name = "Malicious - Troll - Devil Troll";
		};
		"Malicious-Troll-Douchebag.png" = {
			Equivalents = (
				"[dbag]",
				"[brah]",
				"[douche]",
				"[douchebag]",
			);
			Name = "Malicious - Troll - Douchebag";
		};
		"Malicious-Troll-EvilSmile.png" = {
			Equivalents = (
				"[evilsmile]",
				"[hah]",
			);
			Name = "Malicious - Troll - Evil Smile";
		};
		"Malicious-Troll-GayTroll.png" = {
			Equivalents = (
				"[gaytroll]",
			);
			Name = "Malicious - Troll - Gay Troll";
		};
		"Malicious-Troll-GrannyTroll.png" = {
			Equivalents = (
				"[grannytroll]",
			);
			Name = "Malicious - Troll - Granny Troll";
		};
		"Malicious-Troll-Grinch.png" = {
			Equivalents = (
				"[grinch]",
			);
			Name = "Malicious - Troll - Grinch";
		};
		"Malicious-Troll-ILied.png" = {
			Equivalents = (
				"[ilied]",
				"[wayevil]",
			);
			Name = "Malicious - Troll - I Lied";
		};
		"Malicious-Troll-Melvin.png" = {
			Equivalents = (
				"[melvin]",
			);
			Name = "Malicious - Troll - Melvin";
		};
		"Malicious-Troll-ProblemGuy.png" = {
			Equivalents = (
				"[problemguy]",
				"[okaytroll]",
			);
			Name = "Malicious - Troll - Problem Guy";
		};
		"Malicious-Troll-RageHappy.png" = {
			Equivalents = (
				"[happyrage]",
				"[hrage]",
			);
			Name = "Malicious - Troll - Rage Happy";
		};
		"Malicious-Troll-SadMelvin.png" = {
			Equivalents = (
				"[sadmelvin]",
			);
			Name = "Malicious - Troll - Sad Melvin";
		};
		"Malicious-Troll-SadTroll.png" = {
			Equivalents = (
				"[sadtroll]",
			);
			Name = "Malicious - Troll - Sad Troll";
		};
		"Malicious-Troll-Troll.png" = {
			Equivalents = (
				"[troll]",
				"[problem]",
				"[umad]",
			);
			Name = "Malicious - Troll - Troll";
		};
		"Malicious-Troll-TrollDad.png" = {
			Equivalents = (
				"[trolldad]",
			);
			Name = "Malicious - Troll - TrollDad";
		};
		"Malicious-Troll-TrollDadJump.png" = {
			Equivalents = (
				"[trolldadjump]",
				"[tdjump]",
				"[tdj]",
			);
			Name = "Malicious - Troll - Troll Dad Jump";
		};
		"Malicious-Troll-TrollDadMonocle.png" = {
			Equivalents = (
				"[trolldadmonocle]",
				"[trolldadm]",
				"[tdm]",
			);
			Name = "Malicious - Troll - Troll Dad Monocle";
		};
		"Malicious-Troll-TrollHot.png" = {
			Equivalents = (
				"[trollhot]",
				"[hottroll]",
				"[babe]",
			);
			Name = "Malicious - Troll - Troll Hot";
		};
		"Malicious-Troll-TrollInsane.png" = {
			Equivalents = (
				"[insanetroll]",
				"[insane]",
				"[excited]",
			);
			Name = "Malicious - Troll - Troll Insane";
		};
		"Miscellaneous-Busted.png" = {
			Equivalents = (
				"[busted]",
				"[oops]",
			);
			Name = "Miscellaneous - Busted";
		};
		"Miscellaneous-Confused.png" = {
			Equivalents = (
				"[confused]",
				"[butwhy]",
			);
			Name = "Miscellaneous - Confused";
		};
		"Miscellaneous-Drunk.png" = {
			Equivalents = (
				"[drunk]",
			);
			Name = "Miscellaneous - Drunk";
		};
		"Miscellaneous-EpicFailGuy.png" = {
			Equivalents = (
				"[epicfailguy]",
				"[efg]",
			);
			Name = "Miscellaneous - Epic Fail Guy";
		};
		"Miscellaneous-Errg.png" = {
			Equivalents = (
				"[errg]",
				"[release]",
			);
			Name = "Miscellaneous - Errg";
		};
		"Miscellaneous-GrandmaShit.png" = {
			Equivalents = (
				"[grandmashit]",
				"[shit]",
			);
			Name = "Miscellaneous - Grandma Shit";
		};
		"Miscellaneous-OhGod.png" = {
			Equivalents = (
				"[ohgod]",
				"[gross]",
				"[wtf]",
				"[lgross]",
				"[lwtf]",
			);
			Name = "Miscellaneous - Oh God";
		};
		"Miscellaneous-OhGodRight.png" = {
			Equivalents = (
				"[rohgod]",
				"[rgross]",
				"[rwtf]",
			);
			Name = "Miscellaneous - Oh God Right";
		};
		"Miscellaneous-ThrowUpInMouth.png" = {
			Equivalents = (
				"[throwupinmouth]",
				"[throwup]",
				"[fullmouth]",
			);
			Name = "Miscellaneous - Throw Up In Mouth";
		};
		"Miscellaneous-TrueStory.png" = {
			Equivalents = (
				"[truestory]",
			);
			Name = "Miscellaneous - True Story";
		};
		"Miscellaneous-What.png" = {
			Equivalents = (
				"[concerned]",
			);
			Name = "Miscellaneous - What";
		};
		"Miscellaneous-YouthfulFear.png" = {
			Equivalents = (
				"[mommy]",
				"[zomg]",
			);
			Name = "Miscellaneous - Youthful Fear";
		};
		"Neutral-BadPokerFace.png" = {
			Equivalents = (
				"[badpokerface]",
				"[badpoker]",
			);
			Name = "Neutral - Bad Poker Face";
		};
		"Neutral-Beh.png" = {
			Equivalents = (
				"[beh]",
			);
			Name = "Neutral - Beh";
		};
		"Neutral-Dazed.png" = {
			Equivalents = (
				"[dazed]",
			);
			Name = "Neutral - Dazed";
		};
		"Neutral-Dude.png" = {
			Equivalents = (
				"[dude]",
				"[meh]",
			);
			Name = "Neutral - Dude";
		};
		"Neutral-DudeComeOnSmile.png" = {
			Equivalents = (
				"[comeon]",
			);
			Name = "Neutral - Dude Come On Smile";
		};
		"Neutral-Occupied.png" = {
			Equivalents = (
				"[working]",
				"[busy]",
				"[focus]",
			);
			Name = "Neutral - Occupied";
		};
		"Neutral-PokerFace.png" = {
			Equivalents = (
				"[pokerface]",
				"[poker]",
				"[pf]",
			);
			Name = "Neutral - Poker Face";
		};
		"Neutral-PokerFaceThick.png" = {
			Equivalents = (
				"[thickpokerface]",
				"[thickpoker]",
				"[guilty]",
			);
			Name = "Neutral - Poker Face Thick";
		};
		"Neutral-RichFu.png" = {
			Equivalents = (
				"[richfu]",
				"[rich]",
				"[quite]",
			);
			Name = "Neutral - Rich Fu";
		};
		"Neutral-Straight.png" = {
			Equivalents = (
				"[straight]",
			);
			Name = "Neutral - Straight";
		};
		"Neutral-ThingsWentOkay.png" = {
			Equivalents = (
				"[thingswentokay]",
				"[wentokay]",
			);
			Name = "Neutral - ThingsWentOkay";
		};
		"Neutral-Tongue.png" = {
			Equivalents = (
				"[tongue]",
			);
			Name = "Neutral - Tongue";
		};
		"Neutral-Wah.png" = {
			Equivalents = (
				"[wah]",
				"[huh]",
			);
			Name = "Neutral - Wah";
		};
		"Neutral-Wat.png" = {
			Equivalents = (
				"[wat]",
				"[suspicious]",
			);
			Name = "Neutral - Wat";
		};
		"Neutral-Yawn.png" = {
			Equivalents = (
				"[yawn]",
			);
			Name = "Neutral - Yawn";
		};
		"Pleasure-ClassyFap.png" = {
			Equivalents = (
				"[classyfap]",
				"[richfap]",
			);
			Name = "Pleasure - Classy Fap";
		};
		"Pleasure-DogSweetJesus.png" = {
			Equivalents = (
				"[dogsweetjesus]",
			);
			Name = "Pleasure - Dog Sweet Jesus";
		};
		"Pleasure-FapFap.png" = {
			Equivalents = (
				"[fap]",
				"[fapfap]",
				"[fapfapfap]",
			);
			Name = "Pleasure - Fap Fap";
		};
		"Pleasure-FemaleFap.png" = {
			Equivalents = (
				"[femalefap]",
				"[schlick]",
			);
			Name = "Pleasure - Female Fap";
		};
		"Pleasure-MeGusta.png" = {
			Equivalents = (
				"[bepistrollingyoubetter]",
				"[megusta]",
				"[mg]",
			);
			Name = "Pleasure - Me Gusta";
		};
		"Pleasure-MeGustaMuchoCreepy.png" = {
			Equivalents = (
				"[creepymegusta]",
				"[cmg]",
				"[evilmegusta]",
				"[emg]",
			);
			Name = "Pleasure - Me Gusta Mucho Creepy";
		};
		"Pleasure-MeGustaPerfect.png" = {
			Equivalents = (
				"[mgperfect]",
				"[megustaperfect]",
				"[mgp]",
			);
			Name = "Pleasure - Me Gusta Perfect";
		};
		"Pleasure-NoMeGusta.png" = {
			Equivalents = (
				"[nmg]",
				"[nomegusta]",
			);
			Name = "Pleasure - No Me Gusta";
		};
		"Pleasure-OhhhYes.png" = {
			Equivalents = (
				"[ohyes]",
			);
			Name = "Pleasure - Ohhh Yes";
		};
		"Pleasure-SonMeGusta.png" = {
			Equivalents = (
				"[sonmegusta]",
				"[smg]",
			);
			Name = "Pleasure - Son Me Gusta";
		};
		"Pleasure-SweetJesusFace.png" = {
			Equivalents = (
				"[sweetjesus]",
				"[sj]",
			);
			Name = "Pleasure - Sweet Jesus Face";
		};
		"Rage-CanadianRage.png" = {
			Equivalents = (
				"[canadianrage]",
				"[canadian]",
			);
			Name = "Rage - Canadian Rage";
		};
		"Rage-Fuu.png" = {
			Equivalents = (
				"[rage2]",
				"[epicrage]",
				"[fu2]",
			);
			Name = "Rage - Fuu";
		};
		"Rage-Pig.png" = {
			Equivalents = (
				"[pig]",
				"[pigrage]",
			);
			Name = "Rage - Pig";
		};
		"Rage-RageClassic.png" = {
			Equivalents = (
				"[fu]",
				"[rage]",
			);
			Name = "Rage - Rage Classic";
		};
		"Rage-RageExtreme.png" = {
			Equivalents = (
				"[extremerage]",
				"[xrage]",
			);
			Name = "Rage - Rage Extreme";
		};
		"Rage-RageLion.png" = {
			Equivalents = (
				"[ragelion]",
			);
			Name = "Rage - Rage Lion";
		};
		"Rage-RageNuclear.png" = {
			Equivalents = (
				"[nuclearrage]",
				"[nrage]",
				"[fu3]",
			);
			Name = "Rage - Rage Nuclear";
		};
		"Rage-RageOmega.png" = {
			Equivalents = (
				"[omegarage]",
				"[orage]",
				"[fu4]",
			);
			Name = "Rage - Rage Omega";
		};
		"Rage-RageQuiet.png" = {
			Equivalents = (
				"[quietrage]",
			);
			Name = "Rage - Rage Quiet";
		};
		"Sad-Aw.png" = {
			Equivalents = (
				"[aw]",
				"[why]",
			);
			Name = "Sad - Aw";
		};
		"Sad-AwMan.png" = {
			Equivalents = (
				"[awman]",
				"[whyhands]",
			);
			Name = "Sad - Aw Man";
		};
		"Sad-Cry.png" = {
			Equivalents = (
				"[cry]",
				"[baw]",
			);
			Name = "Sad - Cry";
		};
		"Sad-ForeverAlone.png" = {
			Equivalents = (
				"[foreveralone]",
				"[fa]",
			);
			Name = "Sad - Forever Alone";
		};
		"Sad-Numb.png" = {
			Equivalents = (
				"[numb]",
				"[fear]",
				"[scared]",
				"[depressed]",
			);
			Name = "Sad - Numb";
		};
		"Sad-OhNo.png" = {
			Equivalents = (
				"[uh]",
				"[ohno]",
			);
			Name = "Sad - Oh No";
		};
		"Sad-Okay.png" = {
			Equivalents = (
				"[okay]",
			);
			Name = "Sad - Okay";
		};
		"Sad-Sad.png" = {
			Equivalents = (
				"[sad]",
			);
			Name = "Sad - Sad";
		};
		"Stupidity-AreYouKiddingMe.png" = {
			Equivalents = (
				"[areyoukiddingme]",
				"[areyoukidding]",
				"[stfu]",
				"[areyoufuckingkiddingme]",
			);
			Name = "Stupidity - Are You Kidding Me";
		};
		"Stupidity-HerpDerp.png" = {
			Equivalents = (
				"[herpderp]",
				"[herp]",
				"[derp]",
			);
			Name = "Stupidity - Herp Derp";
		};
		"Stupidity-RetardDog.png" = {
			Equivalents = (
				"[retarddog]",
				"[dog]",
			);
			Name = "Stupidity - Retard Dog";
		};
		"Stupidity-SeriouslyChan.png" = {
			Equivalents = (
				"[jackie]",
				"[chan]",
			);
			Name = "Stupidity - Seriously Chan";
		};
		"Stupidity-TheFuck.png" = {
			Equivalents = (
				"[thefuck]",
				"[tf]",
			);
			Name = "Stupidity - The Fuck";
		};
		"Stupidity-TheFuckFemale.png" = {
			Equivalents = (
				"[gthefuck]",
				"[gtf]",
			);
			Name = "Stupidity - The Fuck Female";
		};
		"Surprised-Amazed-DumbfoundedKid.png" = {
			Equivalents = (
				"[whoa]",
				"[ooh]",
			);
			Name = "Surprised - Amazed - Dumbfounded Kid";
		};
		"Surprised-Amazed-Gasp.png" = {
			Equivalents = (
				"[gasp]",
			);
			Name = "Surprised - Amazed - Gasp";
		};
		"Surprised-Amazed-Milk.png" = {
			Equivalents = (
				"[milk]",
			);
			Name = "Surprised - Amazed - Milk";
		};
		"Surprised-Amazed-Moonshot.png" = {
			Equivalents = (
				"[moonshot]",
				"[noway]",
				"[shocked]",
			);
			Name = "Surprised - Amazed - Moonshot";
		};
		"Surprised-Amazed-NotBadObama.png" = {
			Equivalents = (
				"[notbadobama]",
				"[notbad]",
				"[obama]",
			);
			Name = "Surprised - Amazed - Not Bad Obama";
		};
		"Surprised-Amazed-RageBlank.png" = {
			Equivalents = (
				"[blankrage]",
			);
			Name = "Surprised - Amazed - Rage Blank";
		};
		"Surprised-Amazed-Surprised.png" = {
			Equivalents = (
				"[surprised1]",
				"[surprised]",
			);
			Name = "Surprised - Amazed - Surprised";
		};
		"Surprised-Amazed-SurprisedWideOpenMouth.png" = {
			Equivalents = (
				"[surprised3]",
			);
			Name = "Surprised - Amazed - Surprised Wide Open Mouth";
		};
		"Surprised-Amazed-Wait.png" = {
			Equivalents = (
				"[wait]",
				"[awno]",
			);
			Name = "Surprised - Amazed - Wait";
		};
		"Trollicons.png" = {
			Equivalents = (
				"[trollicons]",
			);
			Name = " Trollicons (152 icons) (build date: 8-11-2011)";
		};
		"Unofficial-Gropaga.png" = {
			Equivalents = (
				"[gropaga]",
			);
			Name = "Unofficial - Gropaga";
		};
		"Unofficial-GunLeft.png" = {
			Equivalents = (
				"[lgun]",
			);
			Name = "Unofficial - Gun Left";
		};
		"Unofficial-GunRight.png" = {
			Equivalents = (
				"[rgun]",
			);
			Name = "Unofficial - Gun Right";
		};
		"Unofficial-PickleTime.png" = {
			Equivalents = (
				"[pickletime]",
				"[pickle]",
			);
			Name = "Unofficial - Pickle Time";
		};
		"Victorious-CloseEnough.png" = {
			Equivalents = (
				"[closeenough]",
				"[ce]",
			);
			Name = "Victorious - Close Enough";
		};
		"Victorious-FreddieMercury.png" = {
			Equivalents = (
				"[freddie]",
				"[badass]",
				"[hellyes]",
			);
			Name = "Victorious - Freddie Mercury";
		};
		"Victorious-FuckYeah.png" = {
			Equivalents = (
				"[fuckyeah]",
				"[fy]",
			);
			Name = "Victorious - Fuck Yeah";
		};
		"Victorious-FuckYeahWords.png" = {
			Equivalents = (
				"[fuckyeahwords]",
				"[fywords]",
			);
			Name = "Victorious - Fuck Yeah Words";
		};
		"Victorious-GTFO.png" = {
			Equivalents = (
				"[gtfo]",
			);
			Name = "Victorious - GTFO";
		};
		"Victorious-MelvinFuckYeah.png" = {
			Equivalents = (
				"[melvinfuckyeah]",
				"[melvinfy]",
				"[mfy]",
			);
			Name = "Victorious - Melvin Fuck Yeah";
		};
		"Victorious-ThatWay.png" = {
			Equivalents = (
				"[thatway]",
			);
			Name = "Victorious - That Way";
		};
		"derp-girl.gif" = {
			Equivalents = (
				"[derp]",
			);
			Name = "(am) Derp";
		};
		"dwight.gif" = {
			Equivalents = (
				"[arg]",
			);
			Name = "(am) Arggggh";
		};
		"trophy.png" = {
			Equivalents = (
				"[trophy]",
			);
			Name = "(am) Trophy";
		};
		"fu2.png" = {
			Equivalents = (
				"[2fu]",
			);
			Name = "(am) Fuck it.";
		};
		"slow_clap.gif" = {
			Equivalents = (
				"[clap]",
			);
			Name = "(am) Slow Clap";
		};
		"beauty.gif" = {
			Equivalents = (
				"[beautiful]",
			);
			Name = "(am) Beautiful";
		};
		"cock_star.png" = {
			Equivalents = (
				"[star]",
			);
			Name = "(am) Star";
		};
	};
}