{
	AdiumSetVersion = "1.3";
	Emoticons = {
		"newdrew.png" = {
			Equivalents = (
				"[drew]",
			);
			Name = "[avatar] Drew";
		};
		"jake.png" = {
			Equivalents = (
				"[jake]",
			);
			Name = "[avatar] Jake";
		};
		"shrug.gif" = {
			Equivalents = (
				"[shrug]",
			);
			Name = shrug;
		};
		"jameson.png" = {
			Equivalents = (
				"[jameson]",
			);
			Name = "[avatar] Jameson";
		};
		"nick.png" = {
			Equivalents = (
				"[nick]",
			);
			Name = "[avatar] Nick";
		};
		"scott.jpg" = {
			Equivalents = (
				"[scott]",
				"[scott.pilgrim]",
			);
			Name = "[avatar] Scott";
		};
		"tim.jpg" = {
			Equivalents = (
				"[tim]",
			);
			Name = "[avatar] Tim";
		};
		"tom.png" = {
			Equivalents = (
				"[tom]",
				"[tomabrem]",
			);
			Name = "[avatar] Tom";
		};
		"carlton.gif" = {
			Name = Awesome;
			Equivalents = (
				"[awesome]",
			);
		};
		"fuckit.gif" = {
			Name = FuckIt;
			Equivalents = (
				"[fuckit]",
			);
		};
		"blowyourmind.gif" = {
			Name = "Mind Explosion";
			Equivalents = (
				"[blowyourmind]",
				"[mindexplosion]",
				"[mindblown]",
			);
		};
		"dontunderstand.gif" = {
			Name = "Don't Understand the Reference";
			Equivalents = (
				"[dontunderstand]",
			);
		};
		"epic.gif" = {
			Name = Epic;
			Equivalents = (
				"[epic]",
			);
		};
		"gonnabgood.gif" = {
			Name = "Gonna Be Good";
			Equivalents = (
				"[gonnabegood]",
			);
		};
		"want.jpg" = {
			Name = "Do Want";
			Equivalents = (
				"[dowant]",
			);
		};
		"block.jpg" = {
			Name = "Mark Block";
			Equivalents = (
				"[block]",
			);
		};
		"trollcain.gif" = {
			Name = "Troll (Cain)";
			Equivalents = (
				"[trollcain]",
			);
		};
		"facepalm.jpeg" = {
			Name = "Picard - Palm";
			Equivalents = (
				"[palm]",
			);
		};
		"applejuice.png" = {
			Name = "Apple Juice";
			Equivalents = (
				"[applejuice]",
			);
		};
		"staredad.gif" = {
			Name = "Stare Dad";
			Equivalents = (
				"[staredad]",
			);
		};
		"chucktesta.png" = {
			Name = "Chuck Testa";
			Equivalents = (
				"[chucktesta]",
			);
		};
		"facepalm2.gif" = {
			Name = "Picard - Double Palm";
			Equivalents = (
				"[palm2]",
			);
		};
		"palm3.jpg" = {
			Name = "Emergency Medical Facepalm";
			Equivalents = (
				"[palm3]",
				"[emh]",
			);
		};
		"palm4.gif" = {
			Name = "Boromir Facepalm";
			Equivalents = (
				"[palm4]",
			);
		};
		"palm5.gif" = {
			Name = "Aaragorn Facepalm";
			Equivalents = (
				"[palm5]",
			);
		};
		"palm6.gif" = {
			Name = "Elrond Facepalm";
			Equivalents = (
				"[palm6]",
			);
		};
		"double-facepalm.gif" = {
			Name = "Picard - Double Facepalm";
			Equivalents = (
				"[facepalm]",
			);
		};
		"gaypicard.jpg" = {
			Name = "Picard - Gay";
			Equivalents = (
				"[gaypicard]",
				"[jeffrey]",
			);
		};
		"number-one.jpg" = {
			Name = "Picard - Finger";
			Equivalents = (
				"[number1]",
			);
		};
		"picard-durr.jpg" = {
			Name = "Picard - Uh, durr.";
			Equivalents = (
				"[durr]",
			);
		};
		"yesss.png" = {
			Name = "Picard - Yesss!";
			Equivalents = (
				"[yesss]",
			);
		};
		"epic-no.gif" = {
			Name = "Picard - No! Nooo!";
			Equivalents = (
				"[nooo]",
			);
		};
		"nooo2.gif" = {
			Name = "Luke Nooo!";
			Equivalents = (
				"[nooo2]",
			);
		};
		"nooo4.gif" = {
			Name = "Wyatt Nooo!";
			Equivalents = (
				"[nooo3]",
			);
		};
		"oldman.png" = {
			Name = "Old Man";
			Equivalents = (
				"[oldman]",
			);
		};
		"sports.gif" = {
			Name = sports;
			Equivalents = (
				"[sports]",
			);
		};
		"youdontsay.jpg" = {
			Name = "You Don't Say";
			Equivalents = (
				"[youdontsay]",
			);
		};
		"magic.gif" = {
			Name = Magic;
			Equivalents = (
				"[magic]",
			);
		};
		"derp-girl.gif" = {
			Equivalents = (
				"[derp]",
			);
			Name = Derp;
		};
		"dwight.gif" = {
			Equivalents = (
				"[arg]",
			);
			Name = Arggggh;
		};
		"trophy.png" = {
			Equivalents = (
				"[trophy]",
			);
			Name = Trophy;
		};
		"fu2.png" = {
			Equivalents = (
				"[2fu]",
			);
			Name = "Fuck it.";
		};
		"fu3.gif" = {
			Equivalents = (
				"[fu]",
			);
			Name = "Fuck it.";
		};
		"slow_clap.gif" = {
			Equivalents = (
				"[clap]",
			);
			Name = "Slow Clap";
		};
		"beauty.gif" = {
			Equivalents = (
				"[beautiful]",
			);
			Name = Beautiful;
		};
		"whatyoudidthere.png" = {
			Equivalents = (
				"[seewhatyoudidthere]",
			);
			Name = "I see what you did there";
		};
		"cock_star.png" = {
			Equivalents = (
				"[star]",
			);
			Name = Star;
		};
		"tickspoon.png" = {
			Equivalents = (
				"[spoon]",
			);
			Name = "SPOOOON!";
		};
		"mike.png" = {
			Equivalents = (
				"[hunigan]",
			);
			Name = "Hunigan!!!";
		};
		"canyonero.png" = {
			Equivalents = (
				"[canyon]",
			);
			Name = Geoff;
		};
		"qa1.gif" = {
			Equivalents = (
				"[qa1]",
			);
			Name = QA1;
		};
		"spaceElevator.jpg" = {
			Equivalents = (
				"[elevator]",
			);
			Name = "Space Elevator";
		};
		"burn.jpg" = {
			Equivalents = (
				"[burn]",
			);
			Name = "Burn!";
		};
		"failburn.png" = {
			Equivalents = (
				"[burn1]",
			);
			Name = "Failed Burn";
		};
		"burn2.gif" = {
			Equivalents = (
				"[burn2]",
			);
			Name = "Burn! (Animated)";
		};
		"okaythen.gif" = {
			Equivalents = (
				"[okaythen]",
				"[okthen]",
			);
			Name = "Burn! (Animated)";
		};
		"red.jpg" = {
			Equivalents = (
				"[red]",
				"[dumbass]",
			);
			Name = "Burn! (Animated)";
		};
		"segway.gif" = {
			Equivalents = (
				"[segway]",
			);
			Name = "Segway Crash";
		};
		"nerd.jpg" = {
			Equivalents = (
				"[nerd]",
			);
			Name = "Nerd Alert!";
		};
		"killme.png" = {
			Equivalents = (
				"[killme]",
			);
			Name = "Kill Me";
		};
		"lance.gif" = {
			Name = Douche;
			Equivalents = (
				"[douche]",
			);
		};
		"thumbs-up.png" = {
			Equivalents = (
				"[y]",
			);
			Name = "Thumbs Up";
		};
		"thumbs-down.png" = {
			Equivalents = (
				"[n]",
			);
			Name = "Thumbs Down";
		};
		"lunch.gif" = {
			Equivalents = (
				"[lunch]",
			);
			Name = "Lunch?";
		};
		"attn.png" = {
			Equivalents = (
				"[!]",
			);
			Name = "Attention !";
		};
		"question.png" = {
			Equivalents = (
				"[?]",
			);
			Name = "Attention ?";
		};
		"whatsYaPhoneNumba.gif" = {
			Equivalents = (
				"[#]",
			);
			Name = "Phone Call";
		};
		"stare.gif" = {
			Equivalents = (
				"[stare]",
			);
			Name = Staredown;
		};
		"blanka.gif" = {
			Equivalents = (
				"[rage]",
			);
			Name = "RAGE!";
		};
		"haggar.gif" = {
			Equivalents = (
				"[suplex]",
			);
			Name = Suplex;
		};
		"proto1.gif" = {
			Equivalents = (
				"[blaster]",
			);
			Name = Blaster;
		};
		"slap.gif" = {
			Equivalents = (
				"[slap]",
			);
			Name = Slap;
		};
		"snap.gif" = {
			Equivalents = (
				"[snap]",
			);
			Name = "Oh snap";
		};
		"simon.gif" = {
			Equivalents = (
				"[simon]",
			);
			Name = "Disgusted Simon";
		};
		"ohshit.gif" = {
			Equivalents = (
				"[ohshit]",
			);
			Name = "Oh Shit Squirrel";
		};
		"duncan.gif" = {
			Equivalents = (
				"[duncan]",
			);
			Name = "DUNCAN!";
		};
		"50.gif" = {
			Equivalents = (
				"[50]",
			);
			Name = "Fifty Cent";
		};
		"zebra.gif" = {
			Equivalents = (
				"[zebra]",
			);
			Name = "Disco Zebra";
		};
	};
}