{
	AdiumSetVersion = "1.3";
	Emoticons = {
		"trollcain.gif" = {
			Name = "Troll (Cain)";
			Equivalents = (
				"[trollcain]",
			);
		};
		"facepalm.jpeg" = {
			Name = Palm;
			Equivalents = (
				"[palm]",
			);
		};
		"applejuice.png" = {
			Name = Palm;
			Equivalents = (
				"[applejuice]",
			);
		};
		"staredad.gif" = {
			Name = "Stare Dad";
			Equivalents = (
				"[staredad]",
			);
		};
		"chucktesta.png" = {
			Name = "Chuck Testa";
			Equivalents = (
				"[chucktesta]",
			);
		};
		"facepalm2.gif" = {
			Name = "Double Palm";
			Equivalents = (
				"[palm2]",
			);
		};
		"palm3.jpg" = {
			Name = "Emergency Medical Facepalm";
			Equivalents = (
				"[palm3]",
				"[emh]",
			);
		};
		"double-facepalm.gif" = {
			Name = "Facepalm (animated)";
			Equivalents = (
				"[facepalm]",
			);
		};
		"number-one.jpg" = {
			Name = "Picard Finger";
			Equivalents = (
				"[number1]",
			);
		};
		"picard-durr.jpg" = {
			Name = "Uh, durr.";
			Equivalents = (
				"[durr]",
			);
		};
		"yesss.png" = {
			Name = "Yesss! (Picard)";
			Equivalents = (
				"[yesss]",
			);
		};
		"epic-no.gif" = {
			Name = "No! Nooo! (Picard)";
			Equivalents = (
				"[nooo]",
			);
		};
		"oldman.png" = {
			Name = "Old Man";
			Equivalents = (
				"[oldman]",
			);
		};
		"sports.gif" = {
			Name = sports;
			Equivalents = (
				"[sports]",
			);
		};
		"magic.gif" = {
			Name = Magic;
			Equivalents = (
				"[magic]",
			);
		};
		"derp-girl.gif" = {
			Equivalents = (
				"[derp]",
			);
			Name = Derp;
		};
		"dwight.gif" = {
			Equivalents = (
				"[arg]",
			);
			Name = Arggggh;
		};
		"trophy.png" = {
			Equivalents = (
				"[trophy]",
			);
			Name = Trophy;
		};
		"fu2.png" = {
			Equivalents = (
				"[2fu]",
			);
			Name = "Fuck it.";
		};
		"slow_clap.gif" = {
			Equivalents = (
				"[clap]",
			);
			Name = "Slow Clap";
		};
		"beauty.gif" = {
			Equivalents = (
				"[beautiful]",
			);
			Name = Beautiful;
		};
		"cock_star.png" = {
			Equivalents = (
				"[star]",
			);
			Name = Star;
		};
		"tickspoon.png" = {
			Equivalents = (
				"[spoon]",
			);
			Name = "SPOOOON!";
		};
		"mike.png" = {
			Equivalents = (
				"[hunigan]",
			);
			Name = "Hunigan!!!";
		};
		"canyonero.png" = {
			Equivalents = (
				"[canyon]",
			);
			Name = Geoff;
		};
		"qa1.gif" = {
			Equivalents = (
				"[qa1]",
			);
			Name = QA1;
		};
		"spaceElevator.jpg" = {
			Equivalents = (
				"[elevator]",
			);
			Name = "Space Elevator";
		};
		"burn.jpg" = {
			Equivalents = (
				"[burn]",
			);
			Name = "Burn!";
		};
		"failburn.png" = {
			Equivalents = (
				"[burn1]",
			);
			Name = "Failed Burn";
		};
		"burn2.gif" = {
			Equivalents = (
				"[burn2]",
			);
			Name = "Burn! (Animated)";
		};
		"okaythen.gif" = {
			Equivalents = (
				"[okaythen]",
				"[okthen]",
			);
			Name = "Burn! (Animated)";
		};
		"red.jpg" = {
			Equivalents = (
				"[red]",
				"[dumbass]",
			);
			Name = "Burn! (Animated)";
		};
		"segway.gif" = {
			Equivalents = (
				"[segway]",
			);
			Name = "Segway Crash";
		};
		"nerd.jpg" = {
			Equivalents = (
				"[nerd]",
			);
			Name = "Nerd Alert!";
		};
		"aaron.jpg" = {
			Equivalents = (
				"[aaron]",
			);
			Name = "Aaron (Avatar)";
		};
		"nick.png" = {
			Equivalents = (
				"[nick]",
			);
			Name = "Nick (Avatar)";
		};
		"drew.jpg" = {
			Equivalents = (
				"[drew]",
			);
			Name = "Drew (Avatar)";
		};
		"scott.jpg" = {
			Equivalents = (
				"[scott]",
				"[scott.pilgrim]",
			);
			Name = "Scott (Avatar)";
		};
		"tim.jpg" = {
			Equivalents = (
				"[tim]",
			);
			Name = "Tim (Avatar)";
		};
		"jameson.png" = {
			Equivalents = (
				"[jameson]",
			);
			Name = "Jameson (Avatar)";
		};
	};
}